body {
  margin: 0;
  background-color: black;
  color: #fff;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner .content .title {
  font-family: "Hallowed Grounds";
  font-size: 6em;
}
